// Файл обнуляющих стилей
@import "_nullstyle.scss";

$black-color: #070707;
$gray-color: #828282;

body {
    font-family: "Gilory", sans-serif;
    font-size: 18px;
    src: local("../fonts/Gilroy-Bold.woff") format("woff");
    src: local("../fonts/Gilroy-Bold.woff2") format("woff2");
    font-family: "Gilory", sans-serif;
    src: local("../fonts/Gilroy-Medium.woff") format("woff");
    src: local("../fonts/Gilroy-Medium.woff2") format("woff2");
}

.wrapper-content {
    overflow: hidden;
    width: 100%;
    min-height: 100%;
}
.wrapper-body {
}

.text {
    line-height: 22px;
    color: $gray-color;
}
.image {
    position: relative;
    padding: 0 0 58% 0;
}
.image img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.header {
    padding: 33px 15px 0px 15px;

    &__body {
        padding: 0 0 33px 0;
        border-bottom: $gray-color 1px solid;
    }
}
.container {
    &__first {
        max-width: 940px;
        margin: 0 auto;
    }
}
.header-menu {
    &__list {
        display: flex;
        justify-content: space-between;
    }
    &__list a {
        font-weight: 700;
        color: #828282;
        transition: 0.2s all ease;
    }
    &__list a:hover {
        color: $black-color;
    }
}

.denis-novik {
    padding: 0 15px 104px 15px;

    &__row {
        display: flex;
        justify-content: space-between;
        padding: 40px 0 50px 0;
    }

    &__title {
    }
    &__title h1 {
        font-size: 47px;
        font-weight: 700;
        margin: 0 0 10px 0;
    }
    &__title h1:last-child {
        margin: 0 0 0 0;
    }

    &__text {
        display: flex;
        align-items: end;
        max-width: 156px;
    }

    &__rotate {
        display: flex;
        align-items: end;
        writing-mode: vertical-lr;
        transform: rotate(180deg);
    }
    &__rotate h3 {
        font-weight: 700;
        color: $gray-color;
    }

    &__image {
        position: relative;
        padding: 0 0 50% 0;
    }
    &__image img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.about-me {
    padding: 120px 15px 107px 15px;
    background: #f6f6f6;
    &__content {
    }

    &__body {
        text-align: center;
    }

    &__title {
        margin: 0 0 18px 0;
    }

    &__text {
    }
    &__text p {
        color: $black-color;
    }
    .text__block {
        margin: 0 0 36px 0;
    }
    .text__block:last-child {
        margin: 0;
    }
}
.container {
    &__second {
        max-width: 490px;
        margin: 0 auto;
    }
}
.title {
    text-align: center;
    font-size: 34px;
    line-height: 42px;
    font-weight: 700;
}
.text {
}
.skills {
    padding: 91px 15px 110px 15px;
    &__content {
    }

    &__title {
        margin: 0 0 70px;
    }

    &__text {
        margin: 0 0 83px 0;
        text-align: center;
    }
    &__text p {
        color: $black-color;
    }

    &__body {
    }

    &__row {
        display: flex;
    }

    &__column {
        flex: 0 1 25%;
        text-align: center;
        display: flex;

        &_1 {
        }

        &_2 {
        }

        &_3 {
        }

        &_4 {
        }
    }
}
.column {
    &__item {
    }
}
.item {
    display: flex;
    flex-direction: column;
    &__image {
        margin: 0 0 24px 0;
    }

    &__text {
        margin: 0 0 40px 0;
        flex: 1 1 auto;
        color: $gray-color;
    }

    &__stars img {
        margin: 0 9px 0 0;
    }
    &__stars img:last-child {
        margin: 0 0 0 0;
    }
}

.portfolio {
    padding: 113px 15px 96px 15px;
    background-color: #f6f6f6;
    &_block {
        margin: 0 0 99px 0;
    }

    &_block_1 {
    }

    &_block_2 {
    }

    &_block_3 {
        margin: 0 0 0 0;
    }

    &__content {
    }

    &__title {
        margin: 0 0 47px 0;
    }

    &__body {
        text-align: center;
    }

    &__image {
        margin: 0 0 45px 0;
    }

    &__link {
    }
    &__link a {
        display: inline-block;
        color: $black-color;
        text-decoration: underline;
        transition: 0.1s all ease;
    }
    &__link a:hover {
        transform: scale(1.025);
    }
}

.contacts {
    padding: 115px 15px 40px 15px;
    &__body {
        text-align: center;
    }

    &__title {
        margin: 0 0 20px 0;
    }

    &__text {
        margin: 0 0 30px 0;
    }

    &__button {
        display: inline-block;
        background-color: $black-color;
        border-radius: 25px;
        transition: 0.3s all ease;
        border: $black-color 1px solid;
    }
    &__button a {
        line-height: 42px;
        color: white;
        font-weight: 700;
        display: inline-block;
        width: 100%;
        padding: 0 30px;
        transition: 0.3s all ease;
    }
    &__button a:hover {
        color: $black-color;
    }
    &__button:hover {
        background-color: white;
    }
}
.container {
    &__second {
    }

    &__foother {
        max-width: 340px;
        margin: 0 auto;
    }
}
.title {
}
.footer {
    padding: 40px 15px 123px 15px;
    &__content {
    }

    &__row {
        display: flex;
        justify-content: space-between;
        margin: 0 0 46px 0;
    }

    &__icon {
        transition: 0.2s all ease;
    }
    &__icon:hover {
        transform: rotate(10deg) scale(1.1);
    }
    &__in {
    }

    &__insta {
    }

    &__be {
    }

    &__ball {
    }

    &__text {
        text-align: center;
        color: $gray-color;
    }
}
